/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sansita+Swashed:wght@700&display=swap'); */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index:10; 
}
.navbar{
    background-image: linear-gradient(to right, #1c82ff,#ffd800);
    padding: 0 !important;
}
navbar-brand img{
    padding-left: 20px;
    padding-top: 5px;
}
.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color:#fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/*-----------------banner section----------------------------*/

#banner{
    background-image: linear-gradient(to right, #1c82ff,#ffd800);
    color: #fff;
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.promo-title1{
    font-size: 40px;
    font-weight: 600;
}
.promo-title2{
    font-size: 25px;
    font-weight: 100;
}
 #banner .btn-primary{
    width: 200px; 
    height: 50px;
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-color: #F89605;
} 
.bottom-img{
    width: 100%;
}
/*---------------------------------services section-----------*/

#services{
    padding: 80px 0;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #f99704;
    height: 10px;
    width: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
::-webkit-input-placeholder{
    color: #000000;
    font-family: 'Sansita Swashed', cursive;
}
::-moz-input-placeholder{
    color: #000000;
    font-family: 'Sansita Swashed', cursive;
}
::-ms-input-placeholder{
    color: #000000;
    font-family: 'Sansita Swashed', cursive;
}